/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #2f2f2f, #787878, #2f2f2f);
  padding: 1vh 2%;
}

.button-group {
  display: flex;
  align-items: center;
}

.header {
  flex-grow: 1;
  margin-right: 18%;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

.search-bar {
  margin-right: 2%;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease, color 0.7s ease;
  margin-left: 0.5rem;
}

.button .fas {
  margin-right: 0.5rem;
}

.button:hover {
  transform: translateY(-5px);
}

.search-bar input {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #ced4da;
  width: 150px;
  font-size: 1rem;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.restaurant-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  margin: 1rem;
  text-align: center;
  width: 20vw;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.restaurant-container:hover {
  transform: scale(1.03);
}

.restaurant-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: black;
  text-decoration: none;
  font-family: 'Lobster', cursive;
}

.restaurant-image {
  width: 20vw;
  height: 18vh;
  border-radius: 12px 12px 0 0;
}

.city, .price, .cuisine {
  margin: 0.5rem 0;
  color: black;
  text-decoration: none;
}

a.restaurant-container {
  text-decoration: none;
  color: inherit;
}

a.restaurant-container:visited {
  color: inherit;
}

a.restaurant-container:hover,
a.restaurant-container:focus,
a.restaurant-container:active {
  text-decoration: none;
  color: inherit;
}

.price {
  font-weight: bold;
}

.search-filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  column-gap: 12%;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ced4da;
  width: 100%;
  max-width: 300px;
}

.restaurant-page {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.restaurant-info {
  margin: 1rem 0;
}

.restaurant-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Lobster', cursive;
}

.restaurant-page p {
  font-size: 120%;
  font-weight: 650;
}


/* CSS for the carousel arrows */
.carousel-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* CSS for the carousel left arrow */
.carousel-button.prev {
  top: 50%;
  left: 10px; /* מיקום בצד שמאל */
  transform: translateY(-50%);
}

/* CSS for the carousel right arrow */
.carousel-button.next {
  top: 50%;
  right: 10px; /* מיקום בצד ימין */
  transform: translateY(-50%);
}

/* add */

.add-restaurant-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.add-restaurant-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-restaurant-page form {
  display: flex;
  flex-direction: column;
}

.add-restaurant-page label {
  margin-bottom: 10px;
}

.add-restaurant-page input,
.add-restaurant-page textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-restaurant-page button {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #2f2f2f, #787878, #2f2f2f);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-restaurant-page button:hover {
  background: linear-gradient(to right, #2f2f2f, #787878, #2f2f2f);
}

/* Restaurant Management Header */
.Restaurant-Management-header {
  text-align: center;
  margin-top: 20px;
}

/* CSS for the management page buttons */
.management-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.management-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #2f2f2f;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.management-buttons button:hover {
  background-color: #787878;
}

/* CSS for the delete and edit buttons */
.delete-button,
.edit-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #ff4444;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

.edit-button {
  background-color: #4CAF50;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button:hover {
  background-color: #347836;
}

/* Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Table */
th,
td {
  padding: 8px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: linear-gradient(to right, #2f2f2f, #787878, #2f2f2f);
  color: white;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal-content h2, label{
  font-size: 120%;
}

.modal-content input {
  font-size: 120%;
  border-radius: 5px;
  border: none;
  border: solid 1px #2f2f2f;
}

.edit-inputs {
  padding: 1%;
}

.save-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

.save-button:hover {
  background-color: #0056b3;
}

.save-button .fas {
  margin-right: 0.5rem;
}
